{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block content%}
<hr>
    <!-- Three columns of text below the carousel -->
    <div class="bienvenu">

            <h2>Bienvenue</h2>
            <p>Voici le nouveau site de gestion de planning </p>
        </div>

{% endblock %}


